{% extends 'layouts/base.html.twig' %}

{% block title %}Metabook{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 index-profile">
                <div class="position-fixed">
                    <h2 class="text-center mb-4 mt-4 bg-transparent">Mon profil</h2>
                    <div class="card">
                        <img class="card-img-top" src="{{ app.user.gravatarUrl(200) }}" alt="Avatar de {{ app.user.fullName }}"> 
                        <div class="card-body">
                            <a href="{{ path('app_post_user_show',{id: app.user.id}) }}">
                                <h5 class="card-title text-center">
                                    {{ app.user.fullName }}
                                </h5>
                            </a>
                            <p class="card-text">
                                <small>
                                    <i class="fas fa-envelope"></i>&nbsp;
                                    {{ app.user.email }}<br>

                                    <i class="fas fa-clock"></i>&nbsp;
                                    créé le {{ app.user.createdAt|date('d/m/Y') }}<br>

                                    <i class="fas fa-user-check"></i>&nbsp;
                                    <a href="#" class="text-dark" data-toggle="modal" data-target="#modal_abonne">
                                        {{ pluralize(app.user.FriendsWithMe|length, 'abonné','abonnés') }}
                                    </a><br>

                                    <i class="fas fa-user-friends"></i>&nbsp;
                                    <a href="#" class="text-dark" data-toggle="modal" data-target="#modal_abonnement">
                                        {{ pluralize(app.user.MyFriends|length, 'abonnement','abonnements') }}
                                    </a><br>

                                    <i class="fas fa-sticky-note"></i>&nbsp;
                                    {{ pluralize(posts_user_online|length, 'publication','publications') }}
                                </small>
                            </p>
                            <p class="text-center">
                                <a href="{{ path('app_account_show') }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-user-circle"></i>&nbsp;
                                    Mon profil
                                </a>
                            </p>
                            <p class="text-center mb-0">
                                <a href="#" class="btn btn-warning btn-sm" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">
                                    <i class="fas fa-sign-out-alt"></i>&nbsp;
                                    Se déconnecter
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal_abonnement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Abonnements</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            {% for abonnement in app.user.MyFriends %}
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <img src="{{ app.user.gravatarUrl(28) }}" alt="Avatar de {{ app.user.fullName }}" class="rounded-circle"> 
                                    </div>
                                    <div class="col-6">
                                        <a href="{{ path('app_post_user_show',{id: abonnement.id}) }}">
                                            {{ abonnement.fullName }}
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <form action="{{ path('app_post_user_show',{id: abonnement.id}) }}" method="post">
                                            <input hidden type="number" onclick="change_id_btn_unfollow({{ abonnement.id }})" value="1" id="unfollow_user{{ abonnement.id }}" name="unfollow_user">
                                            <button type="submit" class="btn btn-warning btn-sm float-right mr-3">
                                                Se désabonner&nbsp;
                                                <i class="fas fa-user-times"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if app.user.MyFriends|length == 0 %}
                                <p>Aucun abonnement</p>
                            {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal_abonne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Abonnés</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            {% for abonne in app.user.FriendsWithMe %}
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <img src="{{ app.user.gravatarUrl(28) }}" alt="Avatar de {{ app.user.fullName }}" class="rounded-circle"> 
                                    </div>
                                    <div class="col-6">
                                        <a href="{{ path('app_post_user_show',{id: abonne.id}) }}">
                                            {{ abonne.fullName }}
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <form action="{{ path('app_post_user_show',{id: abonne.id}) }}" method="post">
                                            {% if abonne in app.user.MyFriends %}
                                                <input hidden type="number" onclick="change_id_btn_unfollow({{ abonne.id }})" value="1" id="unfollow_user{{ abonne.id }}" name="unfollow_user">
                                                <button type="submit" class="btn btn-warning btn-sm float-right mr-3">
                                                    Se désabonner&nbsp;
                                                    <i class="fas fa-user-times"></i>
                                                </button>
                                            {% else %}
                                                <input hidden type="number" onclick="change_id_btn_follow({{ abonne.id }})" value="1" id="follow_user{{ abonne.id }}" name="follow_user">
                                                <button type="submit" class="btn btn-primary btn-sm float-right mr-3">
                                                    S'abonner&nbsp;
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}

                            {% if app.user.FriendsWithMe|length == 0 %}
                                <p>Aucun abonné</p>
                            {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 post_index">
                <h2 class="text-center mb-4 mt-4">Fil d'actualité</h2>
                {% if posts|length > 0 %}
                    <div class="row mb-5">
                        {% for post in posts %}
                            <div class="col-12 mx-auto mb-4">
                                <article class="post bg-white rounded shadow">
                                    <div class="pl-3 pr-3">
                                        <div class="row mb-3">
                                            <div class="col-1 mt-3">
                                                <a href="{{ path('app_post_user_show',{id: post.user.id}) }}">
                                                    <img src="{{ app.user.gravatarUrl(50) }}" alt="Avatar de {{ app.user.fullName }}" class="rounded-circle"> 
                                                </a>
                                            </div>
                                            <div class="col-7 mt-3 ml-4">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <a href="{{ path('app_post_user_show',{id: post.user.id}) }}">
                                                            <h5><strong>{{ post.user.fullName }}</strong></h5>
                                                        </a>
                                                    </div>
                                                    <div class="col-12">
                                                        <small class="text-muted font-weight-bold hour-post">
                                                            <i class="fas fa-clock"></i>
                                                            <time datetime="{{ post.createdAt|date('d-m-Y H:i:s') }}">
                                                                {{ post.createdAt|date('d-m-Y H:i:s') }}
                                                            </time>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 mt-3">
                                                <div class="float-right">
                                                {% if app.user.id == post.user.id %}
                                                    <a href="{{ path('app_post_edit', {id: post.id}) }}" class="text-decoration-none">
                                                        <i class="fas fa-edit text-info edit-icon"></i>&nbsp;&nbsp;
                                                    </a>
                                                    <a href="#" 
                                                        onclick="event.preventDefault();alert_delete_post({{ post.id }})"
                                                         class="text-decoration-none">
                                                        <i class="fas fa-trash-alt text-danger edit-icon"></i>
                                                    </a>

                                                    <form hidden id="js-post-delete-form{{ post.id }}" action="{{ path('app_post_delete', {id: post.id}) }}" method="post">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token('post_delete_' ~ post.id) }}">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                    </form>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-secondary">
                                            {{ post.title }}
                                        </p>
                                        {# <p class="h5"><a href="{{ path('app_post_show', {id: post.id}) }}" class="text-secondary text-decoration-none text-break">{{ post.title|u.truncate(30,'...') }}</a></p> #}
                                    </div>

                                    <div class="mw-100 overflow-hidden rounded-top">
                                        <a href="{{ path('app_post_show', {id: post.id}) }}">
                                            <img src="{{ (post.imageName ? vich_uploader_asset(post) : asset('build/images/no_image.jpg')) 
                                            | imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="{{ post.title }}" />
                                        </a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="h1 mt-5 text-center">
                        Aucune publication disponible.<br>
                        <a href="{{ path('app_post_create') }}">Créez une publication</a><br>
                        <a href="{{ path('app_user_search') }}">S'abonner à des utilisateurs</a>
                    </p>

                {% endif %}
            </div>
            <div class="col-lg-3 col-md-0 last-post">
                <div class="position-fixed col-md-2">
                    <div class="row">
                        <h3 class="text-center mb-2 p-2">Mes dernières publications</h3>
                    {% for post_user_online in posts_user_online|slice(0, 5) %}
                        <div class="col-6 mw-100 overflow-hidden mb-4 rounded">
                            <a href="{{ path('app_post_show', {id: post_user_online.id}) }}">
                                <img src="{{ (post_user_online.imageName ? vich_uploader_asset(post_user_online) : asset('build/images/no_image.jpg')) 
                                | imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="{{ post_user_online.title }}" />
                            </a>
                        </div>
                    {% endfor %}
                        <div class="col-6 mw-100 overflow-hidden mb-4 rounded">
                            <a href="{{ path('app_post_create') }}">
                                <img src="{{ asset('build/images/add_icon.png') | imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="Ajouter une publication" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
