{% extends 'layouts/base.html.twig' %}

{% block title %}Metabook{% endblock %}

{% block body %}
    {% if posts|length > 0 %}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(posts|length, 'Post','Posts')  }}</h1>
        <div class="row mb-5 post_index">
            {% for post in posts %}
                <div class="col-12 mx-auto mb-4">
                    <article class="post bg-white rounded shadow">
                        <div class="p-3">
                            <div class="row mb-3">
                                <div class="col-2">
                                    <img src="{{ app.user.gravatarUrl(50) }}" alt="Avatar de {{ app.user.fullName }}" class="rounded-circle"> 
                                </div>
                                <div class="col-10">
                                    <div class="row">
                                        <h5>{{ post.user.fullName }}</h5>
                                    </div>
                                    <div class="row">
                                        <small class="text-muted" style="font-size:11px;">
                                            <time datetime="{{ post.createdAt|date('d-m-Y H:i:s') }}">
                                                {{ post.createdAt|date('d-m-Y H:i:s') }}
                                            </time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p class="text-secondary">
                                {{ post.title }}
                            </p>
                            {# <p class="h5"><a href="{{ path('app_post_show', {id: post.id}) }}" class="text-secondary text-decoration-none text-break">{{ post.title|u.truncate(30,'...') }}</a></p> #}
                        </div>

                        <div class="mw-100 overflow-hidden rounded-top">
                            <a href="{{ path('app_post_show', {id: post.id}) }}">
                                <img src="{{ (post.imageName ? vich_uploader_asset(post) : asset('build/images/no_image.jpg')) 
                                | imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="{{ post.title }}" />
                            </a>
                        </div>
                        

                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="h1 mt-5 text-center">No post yet. <a href="{{ path('app_post_create') }}">Be the first !</a></p>
    {% endif %}

{% endblock %}
