{% extends 'layouts/base.html.twig' %}

{% block title %}Metabook - {{ post.title }}{% endblock %}

{% block body %}
    <article>
        <h2>{{ post.id }}</h2>
        <p>{{ post.title }}</p>
    </article>

    <a href="{{ path('app_post_edit', {id: post.id}) }}">Edit</a> |
    <a href="#" 
    onclick="event.preventDefault();
    confirm('Are you sure ?') &&
    document.getElementById('js-post-delete-form').submit();">Delete</a>
    <a href="{{ path('app_home') }}">Go back</a>

     <form id="js-post-delete-form" action="{{ path('app_post_delete', {id: post.id}) }}" method="post" style="display:none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('post_delete_' ~ post.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}