<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">MateBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('app_post_create') }}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout</a>
                    </li>

                    <form action="{{ path('app_logout') }}" method="POST" id="js-logout-form" hidden>
                        <input name="csrf_token" value="{{ csrf_token('signout') }}">
                    </form>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>