{% extends 'layouts/base.html.twig' %}

{% block title %}Metabook - Chercher un ami{% endblock %}

{% block body %}

    <h2>Cherchez un ami</h2>
    <div class="search-box mb-5">
        <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
            {{ form_start(form_search, {'attr':{'class':'search-form'}}) }}
                {{ form_widget(form_search.search) }}
            {{ form_end(form_search) }}
            <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
            xml:space="preserve">
                <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
                <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
            </svg>
        <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for user in all_users %}
                <div class="media mb-3 border-top border-bottom">
                    <img class="align-self-center mr-3 ml-3" src="{{ user.gravatarUrl(90) }}" alt="Avatar de {{ user.fullName }}">
                    <div class="media-body">
                        <div class="row mt-3 mb-3">
                            <div class="col-lg-8 col-sm-6 col-xs-12 align-self-center">
                                <h5 class="mt-0">
                                    <a href="{{ path('app_post_user_show',{id: user.id}) }}">{{ user.fullName }}</a>
                                </h5>
                                <small>
                                    <p>
                                        {{ user.email }}
                                    </p>
                                </small>
                                <small>
                                    <p class="mb-0">
                                        <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#modal_abonne{{ user.id }}">
                                            {{ pluralize(user.FriendsWithMe|length, 'abonné','abonnés') }}&nbsp;
                                            <i class="fas fa-user-friends"></i>
                                        </a>
                                    </p>
                                </small>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12 align-self-center">
                            {% if app.user != user %}
                                <form action="{{ path('app_post_user_show',{id: user.id}) }}" method="post">
                                    {% if user in user_friends %}
                                        <input hidden type="number" onclick="change_id_btn_unfollow({{ user.id }})" value="1" id="unfollow_user{{ user.id }}" name="unfollow_user">
                                        <button type="submit" class="btn btn-warning btn-sm float-right mr-3">
                                            Se désabonner&nbsp;
                                            <i class="fas fa-user-times"></i>
                                        </button>
                                    {% else %}
                                        <input hidden type="number" onclick="change_id_btn_follow({{ user.id }})" value="1" id="follow_user{{ user.id }}" name="follow_user">
                                        <button type="submit" class="btn btn-primary btn-sm float-right mr-3">
                                            S'abonner&nbsp;
                                            <i class="fas fa-user-plus"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- MODAL -->
                <div class="modal fade" id="modal_abonne{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Abonnés</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            {% for abonne in user.FriendsWithMe %}
                                <div class="row mb-3">
                                    <div class="col-1">
                                        <img src="{{ app.user.gravatarUrl(28) }}" alt="Avatar de {{ app.user.fullName }}" class="rounded-circle"> 
                                    </div>
                                    <div class="col-6">
                                        <a href="{{ path('app_post_user_show',{id: abonne.id}) }}">
                                            {{ abonne.fullName }}
                                        </a>
                                    </div>
                                    <div class="col-5">
                                    {% if app.user != abonne %}
                                        <form action="{{ path('app_post_user_show',{id: abonne.id}) }}" method="post">
                                            {% if abonne in app.user.MyFriends %}
                                                <input hidden type="number" onclick="change_id_btn_unfollow({{ abonne.id }})" value="1" id="unfollow_user{{ abonne.id }}" name="unfollow_user">
                                                <button type="submit" class="btn btn-warning btn-sm float-right mr-3">
                                                    Se désabonner&nbsp;
                                                    <i class="fas fa-user-times"></i>
                                                </button>
                                            {% else %}
                                                <input hidden type="number" onclick="change_id_btn_follow({{ abonne.id }})" value="1" id="follow_user{{ abonne.id }}" name="follow_user">
                                                <button type="submit" class="btn btn-primary btn-sm float-right mr-3">
                                                    S'abonner&nbsp;
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            {% if user.FriendsWithMe|length == 0 %}
                                <p>Aucun abonné</p>
                            {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#form_search").removeClass('form-control');

            $("#form_search").focus(function() {
                $(".search-box").addClass("border-searching");
                $(".search-icon").addClass("si-rotate");
            });
            $("#form_search").blur(function() {
                $(".search-box").removeClass("border-searching");
                $(".search-icon").removeClass("si-rotate");
            });
            $("#form_search").keyup(function() {
                if($(this).val().length > 0) {
                    $(".go-icon").addClass("go-in");
                }
                else {
                    $(".go-icon").removeClass("go-in");
                }
            });
            $(".go-icon").click(function(){
                $(".search-form").submit();
            });
        });
    </script>
{% endblock %}
